@font-face {
  font-family: 'Gilroy';
  src: url('gilroy-light.eot');
  src: url('gilroy-light.eot?#iefix') format('embedded-opentype'),url('gilroy-light.woff2') format('woff2'),url('gilroy-light.woff') format('woff'),url('gilroy-light.ttf') format('truetype');
  font-weight: 200;
}
  
@font-face {
  font-family: 'Gilroy';
  src: url('gilroy-extrabold.eot');
  src: url('gilroy-extrabold.eot?#iefix') format('embedded-opentype'),url('gilroy-extrabold.woff2') format('woff2'),url('gilroy-extrabold.woff') format('woff'),url('gilroy-extrabold.ttf') format('truetype');
  font-weight: 700;
}