<template>
  <div class="onboarding">
    <div v-swiper:mySwiper="swiperOption">
      <onboardingfeatures class="swiper-wrapper"/> 
      <div class="swiper-pagination swiper-pagination-bullets"></div>
    </div>
  </div>
</template>

<style lang="scss">
  @import "assets/styles/variables";
  @import "assets/styles/home/onboarding";
</style>

<script>
import Onboardingfeatures from '~/components/home/Onboardingfeatures.vue'

export default {
  components: { Onboardingfeatures },
  data () {
    return {
      swiperOption: {
        initialSlide: 0,
        direction: 'horizontal',
        pagination: '.swiper-pagination',
        paginationElement: 'li',
        paginationClickable: true
      }
    }
  }
}
</script>
