<template>
  <div>
    <div class="swiper-slide onboard-slide" v-for="slide in onboardingSlides" :key="slide.id">
      <div class="onboard-slide__inner">
        <img class="onboard-slide__image" :src="slide.imgSrc">
        <div class="onboard-slide__info">
          <h2 class="onboard-slide__title">{{slide.slideTitle}}</h2>
          <div class="onboard-slide__description">{{slide.slideDescription}}</div>
          <nuxt-link class="onboard-slide__cta" :to="slide.callToActionLink">
            <span>{{slide.callToActionTitle}}</span></nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
  @import "assets/styles/variables";
  @import "assets/styles/mixins";
  @import "assets/styles/home/onboarding-features";
</style>

<script>
import { mapState } from 'vuex'
export default {
  computed: mapState(['onboardingSlides'])
}
</script>
