<template>
  <div class="ring-wrap">
    <div class="text">наведи на меня</div>
    <svg class="ring" viewBox="0 0 200 200">
      <circle cx="100" cy="100" r="90"></circle>
    </svg>
  </div>
</template>

<style lang="scss" scoped>
@import "assets/styles/variables";

.ring {
  &-wrap {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;

    &:hover .ring circle { stroke-dashoffset: 0; }

    .text {
      font-size: 14px;
      width: 100%;
      font-weight: 700;
      text-transform: uppercase;
      padding: 0 1em;
      line-height: 1.25;
      letter-spacing: .025em;
      position: absolute;
      top: 33px;
      color: $color--primary;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
    }
  }

  fill: none;
  position: absolute;
  top: 0;
  left: 0;

  circle {
    stroke: $color--primary;
    stroke-width: 5;
    stroke-dashoffset: 566;
    stroke-dasharray: 566;
    transition: stroke-dashoffset .5s $easing-curve--alt;
  }
}
</style>
