<template>
	<form class="feedback-form" v-on:submit.prevent="addFeedback({
		'name': `${name} ${familyName}`,
		'email': email,
		'phone': phone,
		'message': message
	})">
		<div class="container">

			<div class="feedback-form__about">
				<img src="~assets/images/ba-logo-inversed.svg" class="logo logo--inversed">
				<h2 class="feedback-form__title">Напишите нам</h2>
				<p class="feedback-form__description">
					Если у вас есть какие-либо предложения, либо вы просто хотите передать привет :)
				</p>
			</div>

			<div class="feedback-form__fields">
				<div class="feedback-form__input-group">
					<label class="feedback-form__input-label" :class="{'feedback-form__input-label--focused':focusInput.name || name}">Имя</label>
					<input type="text" class="feedback-form__input" v-model="name" @focus="focusInput.name = true" @blur="focusInput.name = false">
				</div>

				<div class="feedback-form__input-group">
					<label class="feedback-form__input-label" :class="{'feedback-form__input-label--focused':focusInput.familyName || familyName}">Фамилия</label>
					<input type="text" class="feedback-form__input" v-model="familyName" @focus="focusInput.familyName = true" @blur="focusInput.familyName = false">
				</div>

				<div class="feedback-form__input-group">
					<label class="feedback-form__input-label" :class="{'feedback-form__input-label--focused':focusInput.email || email}">email</label>
					<input v-validate="'required|email'" type="email" class="feedback-form__input" v-model="email" @focus="focusInput.email = true" @blur="focusInput.email = false">
				</div>

				<div class="feedback-form__input-group">
					<label class="feedback-form__input-label" :class="{'feedback-form__input-label--focused':focusInput.phone || phone}">Телефон</label>
					<input type="tel" class="feedback-form__input" v-model="phone" @focus="focusInput.phone = true" @blur="focusInput.phone = false">
				</div>

				<div class="feedback-form__input-group feedback-form__input-group--message">
					<label class="feedback-form__input-label" :class="{'feedback-form__input-label--focused':focusInput.message || message}">Сообщение</label>
					<textarea rows="6" class="feedback-form__input feedback-form__input--message" v-model="message" @focus="focusInput.message = true" @blur="focusInput.message = false"></textarea>
				</div> 

				<button type="submit" class="feedback-form__submit">Отправить</button>
			</div>
		</div>
	</form>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  data () {
    return {
      name: '',
      familyName: '',
      email: '',
      phone: '',
      message: '',
      focusInput: {
        name: false,
        familyName: false,
        email: false,
        phone: false,
        message: false
      }
    }
  },
  methods: {
    ...mapMutations([ 'addFeedback' ])
  }
}
</script>

<style lang="scss">
	@import 'assets/styles/variables';

	.feedback-form {
		padding: $ms *1.5em .25em;

		color: $color--light;
		background-color: $color--primary;

		@media ( min-width: $screen-width-sm ) {
			position: relative;

			padding: $ms *2em 0;
			}

		.logo {
			display: none;

			@media ( min-width: $screen-width-sm ) {
				display: block;

				height: $ms *2.5em;
				margin-bottom: $ms *.75em;
				}
			}

		&__fields {
			@media ( min-width: 650px ) {
				display: flex;
				flex-wrap: wrap;
				}
			@media ( min-width: $screen-width-sm ) {
				width: 50%;
				}
			}

		&__about {
			padding: 0 .5em;

			@media ( min-width: $screen-width-sm ) {
				width: 45%;
				padding: 0;
				}
			}

		.container {
			@media ( min-width: $screen-width-sm ) {
				display: flex;
				justify-content: space-between;
				}
			@media ( min-width: $screen-width-md ) {
				padding: 0 1em;
				}
			}

		&__title {
			font-size: $ms *1.25em;
			line-height: $ms *1.5rem;

			letter-spacing: .025em;
			text-transform: uppercase;

			@media ( min-width: $screen-width-sm ) {
				font-size: $ms *1.5em;
				line-height: $ms *2rem;

				margin-bottom: $ms *.25rem;
				}

			@media ( min-width: $screen-width-md ) {
				font-size: $ms *1.75em;
				line-height: $ms *2.25rem;
				}
			}

		&__description {
			line-height: $ms *.75rem;

			margin-bottom: $ms *1em;

			letter-spacing: .025em;

			@media ( min-width: $screen-width-sm ) {
				font-size: $ms *.875em;
				line-height: $ms *.875;
				}

			@media ( min-width: $screen-width-md ) {
				font-size: $ms *1em;

				letter-spacing: 0;

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				}
			}

		&__input {
			font-size: $ms *1em;
			line-height: $ms *1.75rem;

			width: 100%;
			padding: 0 .5em;

			color: $color--light;
			border: 1px solid $color--light;
			border-radius: 3px;
			background-color: $color--primary;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&-group {
				position: relative;

				margin-bottom: $ms *1em;

				@media ( min-width: 650px ) {
					width: 50%;
					padding: 0 .5em;

					&--message {
						width: 100%;
						}
					}
				}

			&-label {
				font-size: 1.125em;
				font-weight: 200;
				line-height: 1;

				position: absolute;
				top: -.4em;
				left: .5em;

				padding: 0 .25em;

				transition: .2s $easing-curve--pump;
				transition-property: transform, font-weight;
				transform: translateY(1.25rem);
				letter-spacing: .0125em;
				text-transform: lowercase;
				pointer-events: none;

				background-color: $color--primary;

				&--focused {
					font-weight: 700;

					transform: translateY(0);

					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					}

				@media ( min-width: 650px ) {
					left: 1em;
					}
				}

			&::selection {
				color: $color--primary; 
				background-color: $color--light;
				}

			&::-moz-selection {
				color: $color--primary; 
				background-color: $color--light;
				}

			&--message {
				line-height: 1.05;

				padding: $ms *.25em .5em;
				}
			}

		&__submit {
			font-size: 1.125em;
			font-weight: 700;
			line-height: $ms *1.75rem;

			width: 100%;
			margin-top: -$ms *.25rem;
			padding: 0;

			cursor: pointer;
			user-select: none;
			transition: .3s $easing-curve--alt;
			transition-property: background-color, color, border-color, transform, box-shadow;
			transform: translateY(0);
			text-align: center;
			letter-spacing: .035em;
			text-transform: uppercase;

			color: $color--primary;
			border: 2px solid $color--light;
			border-radius: $ms *1.75rem;
			background-color: $color--light;
			box-shadow: 0 3px 9px rgba(darken($color--primary, 30%), .1), 0 0 18px rgba(darken($color--primary, 30%), .1);

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;

			&:hover, &:focus {
				color: $color--light;
				border-color: $color--light;
				background-color: $color--primary;
				}

			&:active {
				transform: translateY(.25em);

				color: $color--primary;
				background-color: $color--light;
				box-shadow: 0 1px 3px rgba(darken($color--primary, 30%), .3), 0 0 9px rgba(darken($color--primary, 30%), .3);
				}

			@media ( min-width: 650px ) {
				width: calc( 100% - 1em );
				margin-right: auto;
				margin-left: auto;
				}

			@media ( min-width: $screen-width-sm ) {
				width: 50%;
				margin-left: .5em;
				}
			}
		}

</style>
