<template>
  <div class="sinusoid-animation-wrap">
    <img class="illo-phone" src="~assets/images/home-top-illo-layer-phone.png">
    <img class="illo-code" src="~assets/images/home-top-illo-layer-code.png">
    <img class="illo-apps" src="~assets/images/home-top-illo-layer-apps.png">
  </div>
</template>

<style scoped lang="scss">
.sinusoid-animation-wrap {
  position: relative;
  height: 212px;
  width: 300px;

  img {
    animation-fill-mode: both;
    animation: sinusoid 3s ease infinite;

    height: 100%;
    position: absolute;
    width: 100%;
  }

  img.illo-phone { animation-delay: -.6s; }
  img.illo-code { animation-delay: -.2s; }
  img.illo-apps { animation-delay: -.4s; }
}

@keyframes sinusoid {
  0%,50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(.2,.25,.55,1)
  }

  25% {
    transform: translateY(-7px);
    animation-timing-function: cubic-bezier(.45,0,.8,.75)
  }

  75% {
    transform: translateY(7px);
    animation-timing-function: cubic-bezier(.45,0,.8,.75)
  }

  to { transform: translateY(0) }
}
</style>
