<template>
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:none">
    <symbol id="icon-format-align-left" viewBox="0 0 24 24">
      <path d="M15 15H3v2h12v-2zm0-8H3v2h12V7zM3 13h18v-2H3v2zm0 8h18v-2H3v2zM3 3v2h18V3H3z"/>
    </symbol>
    <symbol id="icon-face" viewBox="0 0 24 24">
      <path d="M9 11.75c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zm6 0c-.69 0-1.25.56-1.25 1.25s.56 1.25 1.25 1.25 1.25-.56 1.25-1.25-.56-1.25-1.25-1.25zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8 0-.29.02-.58.05-.86 2.36-1.05 4.23-2.98 5.21-5.37C11.07 8.33 14.05 10 17.42 10c.78 0 1.53-.09 2.25-.26.21.71.33 1.47.33 2.26 0 4.41-3.59 8-8 8z"/>
    </symbol>
    <symbol id="icon-contacts" viewBox="0 0 24 24">
      <path d="M20 0H4v2h16V0zM4 24h16v-2H4v2zM20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-8 2.75c1.24 0 2.25 1.01 2.25 2.25s-1.01 2.25-2.25 2.25S9.75 10.24 9.75 9 10.76 6.75 12 6.75zM17 17H7v-1.5c0-1.67 3.33-2.5 5-2.5s5 .83 5 2.5V17z"/>
    </symbol>
    <symbol id="icon-work" viewBox="0 0 24 24">
      <path d="M20 6h-4V4c0-1.11-.89-2-2-2h-4c-1.11 0-2 .89-2 2v2H4c-1.11 0-1.99.89-1.99 2L2 19c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V8c0-1.11-.89-2-2-2zm-6 0h-4V4h4v2z"/>
    </symbol> 
    <symbol id="icon-location-on" viewBox="0 0 24 24">
      <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
    </symbol>
    <symbol id="icon-phone" viewBox="0 0 24 24">
      <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/>
    </symbol> 
    <symbol id="icon-format-color" viewBox="0 0 24 24">
      <path d="M0 20h24v4H0z" fill-opacity=".36"/>
      <path d="M11 3L5.5 17h2.25l1.12-3h6.25l1.12 3h2.25L13 3h-2zm-1.38 9L12 5.67 14.38 12H9.62z"/>
    </symbol>
    <symbol id="icon-expand-more" viewBox="0 0 24 24">
      <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
    </symbol>
    <symbol id="icon-close" viewBox="0 0 24 24">
      <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    </symbol>
    <symbol id="icon-menu" viewBox="0 0 24 24">
      <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
    </symbol>
    <symbol id="icon-arrow-forward-thin" viewBox="0 0 24 24">
      <path d="M0 12h22.6"/>
      <path d="M11.305.726l11.274 11.274-11.274 11.274"/>
    </symbol>
    <symbol id="icon-arrow-back" viewBox="0 0 24 24">
      <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
    </symbol>
    <symbol id="icon-vk" viewBox="0 0 24 24">
      <path d="M17.953 11.887s2.372-3.346 2.607-4.445c.079-.393-.094-.613-.503-.613h-2.058c-.471 0-.644.204-.785.503 0 0-1.112 2.37-2.466 3.864-.435.483-.655.628-.895.628-.193 0-.283-.161-.283-.597v-3.817c0-.534-.063-.691-.503-.691h-3.298c-.251 0-.408.146-.408.345 0 .503.77.616.77 1.979v2.812c0 .565-.031.785-.298.785-.707 0-2.387-2.434-3.33-5.199-.188-.565-.393-.723-.927-.723h-2.058c-.298 0-.518.204-.518.503 0 .55.644 3.094 3.173 6.503 1.696 2.293 3.927 3.534 5.937 3.534 1.225 0 1.524-.204 1.524-.723v-1.759c0-.44.173-.628.424-.628.283 0 .782.091 1.948 1.241 1.382 1.319 1.476 1.869 2.23 1.869h2.309c.236 0 .455-.11.455-.503 0-.518-.675-1.445-1.712-2.545-.424-.565-1.115-1.178-1.335-1.461-.314-.33-.22-.518 0-.864z"/>
    </symbol>
    <symbol id="icon-facebook" viewBox="0 0 24 24">
      <path d="M20.006 3h-16.013c-.549 0-.994.444-.994.992v15.995c0 .548.445.992.994.992h8.621v-6.962h-2.346v-2.713h2.346v-2.001c0-2.323 1.42-3.587 3.494-3.587.994 0 1.847.074 2.096.107v2.427h-1.438c-1.128 0-1.347.536-1.347 1.321v1.733h2.69l-.35 2.713h-2.34v6.962h4.587c.548 0 .994-.444.994-.992v-15.995c0-.548-.445-.992-.994-.992"/>
    </symbol>
    <symbol id="icon-youtube" viewBox="0 0 24 24" fill-rule="evenodd" clip-rule="evenodd">
      <path d="M20.629 7.66c-.208-.771-.815-1.379-1.586-1.586-1.409-.386-7.043-.386-7.043-.386s-5.634 0-7.043.371c-.756.208-1.379.83-1.586 1.601-.371 1.409-.371 4.329-.371 4.329s0 2.936.371 4.329c.208.771.815 1.379 1.586 1.586 1.423.386 7.043.386 7.043.386s5.634 0 7.043-.371c.771-.208 1.379-.815 1.586-1.586.371-1.409.371-4.329.371-4.329s.015-2.936-.371-4.344zm-10.423 7.028l4.685-2.699-4.685-2.699v5.397z"/>
    </symbol>
    <!-- <symbol id="icon-blog" viewBox="0 0 24 24"></symbol> -->
  </svg>
</template>
