<template>
	<div class="icon-in-circle">
		<svg class="icon" :class="[{'icon-outline': thin}, iconClass]">
			<use xmlns:xlink="http://www.w3.org/1999/xlink" :xlink:href="'#icon-' + icon"></use>
		</svg>
		<svg class="icon__ring" viewBox="0 0 200 200">
			<circle cx="100" cy="100" r="90"></circle>
		</svg>
	</div>
</template>

<script>
export default {
  props: ['icon', 'thin'],
  data () {
    return {
      iconClass: `icon-${this.icon}`
    }
  }
}
</script>

<style lang="scss">
@import "assets/styles/variables";

.icon-in-circle {
	transition: transform .4s .7s $easing-curve--alt,
							opacity .4s .7s ease-out;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.125em;
	height: 3.125em;
	transition: background 0.2s;

	.icon {
		fill: $color--primary;
		display: block;
		width: 1.375em;
		height: 1.375em;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -.6875em;
		margin-left: -.6875em;
		transition: transform .2s,
								fill .3s ease-out;

		&-outline { fill: none; stroke: $color--primary; stroke-width: 2; }
	}

	.icon__ring {
		width: 90%;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		fill: none;
		transform: translate(-50%, -50%);
		opacity: 0.5;
		transition: opacity .3s .2s $easing-curve--alt,
								transform .2s .3s $easing-curve--alt;

		circle {
			stroke: $color--primary;
			stroke-width: 7;
			stroke-dashoffset: 565.487;
			stroke-dasharray: 565.487;
			transition: stroke-dashoffset .5s $easing-curve--alt,
									stroke .3s ease-out;
		}
	}

	&:hover .icon__ring {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1.1);

		circle { stroke-dashoffset: 0; }
	}
}
</style>
