<template>
	<div class="site-logo-wrap">
		<img src="~assets/images/ba-logo.svg" alt="Логотип НПЦ «БизнесАвтоматика»" class="site-logo">
		<h1 class="site-title">БизнесАвтоматика</h1>
	</div>
</template>


<style lang="scss">
	@import 'assets/styles/variables';
	@import 'assets/styles/mixins';

	.site-logo-wrap {
		position: relative;
		top: .1em;

		display: flex;
		align-items: center;
		}

	.site-logo {
		width: $ms *1.125em;

		@media #{$tablet-portrait} {
			width: $ms *2em;
			}

		@media ( min-width: $screen-width-md ) {
			width: $ms *2em;
			}
		}

	.site-title {
		font-size: $ms *.875em;
		line-height: $ms *1.25rem;

		position: relative;
		top: .1em;

		display: inline-block;

		margin: 0;
		padding-left: $ms *.5rem;

		color: $color--primary;

		@media #{$tablet-portrait} {
			font-size: $ms *1.25em;
			line-height: $ms *2rem;
			}

		@media ( min-width: $screen-width-md ) {
			font-size: $ms *1em;
			line-height: $ms *2.125rem;
			}
		}

</style>
