<template>
	<footer class="site-footer">
		<div class="container">
			<div class="contacts">
				<h4 class="contacts__title">Адрес:</h4>
				<div class="contacts__list">
					<div class="contacts__list-item">Москва, ул. Дербеневская, дом 20, стр. 10, офис 1</div>
					<div class="contacts__list-item">170100, г.Тверь, ул. Симеоновская, д. 39</div>
				</div>

				<h4 class="contacts__title">Телефоны:</h4>
				<div class="contacts__list">
					<a class="contacts__list-item" href="tel:+74952212965">8 (495) 221-2965</a>,
					<a class="contacts__list-item" href="tel:+78001009369">8 (800) 100-9369</a>
				</div>

				<h4 class="contacts__title contacts__title--mail">e-mail:</h4>
				<a href="mailto:info@pba.su" class="contacts__list-item">info@pba.su</a>
			</div>
			<nav class="site-nav">
				<nuxt-link 
					v-for="item in navigation_items"
					:to="item.link"
					:key="item.name"
					class="site-nav__link">

					<svg class="icon" :class="'icon-' + item.icon">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href': '#icon-' + item.icon}"></use>
					</svg>
					<span class="site-nav__link-name">{{item.name}}</span>
				</nuxt-link>
			</nav>
			<div class="social-networks">
				<a href="#">
					<svg class="icon icon-facebook">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
					</svg>
				</a>
				<a href="#">
					<svg class="icon icon-vk">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vk"></use>
					</svg>
				</a>
				<a href="#">
					<svg class="icon icon-youtube">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-youtube"></use>
					</svg>
				</a>
			</div>
		</div>
		<section class="copyright">
			<div class="container">НПЦ «БизнесАвтоматика» © 2017 год&nbsp;&nbsp;|&nbsp;&nbsp;Все права защищены</div>
		</section>
	</footer>
</template>

<script>
import Iconincircle from '~/components/Iconincircle.vue'
import { mapState } from 'vuex'
export default {
  components: { Iconincircle },
  computed: mapState(['navigation_items'])
}
</script>


<style lang="scss">
@import 'assets/styles/variables';
@import 'assets/styles/mixins';

.site-footer {
	padding-top: $ms *2rem;

	border-top: 2px solid $color--primary;
	background-color: $color--light;

	 > .container {
		display: flex;
		align-items: center;
		}

	.contacts {
		width: 45%;

		&__title {
			font-size: .75em;

			margin: 0;

			letter-spacing: .025em;
			text-transform: uppercase;

			color: $color--primary;

			&--mail {
				display: inline-block;

				margin-right: .5em;
				}
			}

		&__list {
			margin-bottom: $ms *.5em;
			}
		}

	.site-nav {
		display: none;

		@media (min-width: $screen-width-md) {
			display: flex;
			flex-flow: column wrap;

			width: 39%;
			height: $ms *6rem;
			margin-left: $ms *2rem;
			}

		&__link {
			line-height: $ms *2rem;

			display: flex;

			width: 1/2 *100%;
			height: $ms *2rem;

			color: darken($color--light, 40%);

			.icon {
				float: left;

				width: $ms *1rem;
				height: $ms *1.875rem;
				margin-right: .5em;

				transition: fill .3s $easing-curve--main;

				fill: darken($color--light, 30%);
				}

			&:hover, &:focus {
				color: $color--primary;

				.icon {
					fill: $color--primary;
					}
				}

			&:active {
				color: lighten($color--primary, 10%);

				.icon {
					fill: lighten($color--primary, 10%);
					}
				}
			}
		}

	.social-networks {
		display: flex;
		align-items: flex-end;
		flex-direction: column;

		width: 10%;

		a {
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			width: $ms *2rem;
			height: $ms *2rem;
			margin: $ms *.25rem 0;

			&::before {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				content: '';
				transition: .3s $easing-curve--main;
				transition-property: transform, opacity;

				opacity: .5;
				border: 1px solid $color--primary;
				border-radius: $ms *2rem;
				}

			&:hover, &:focus {
				&::before {
					transform: scale(.75);

					opacity: 0;
					}

				.icon {
					transform: scale(1.25);

					opacity: 1;

					&-facebook {
						fill: #3b5998;
						}
					&-vk {
						fill: #4c75a3;
						}
					&-youtube {
						fill: #cd201f;
						}
					}
				}
			}

		.icon {
			width: $ms *1.25rem;
			height: $ms *1.25rem;

			transition: .3s $easing-curve--main;
			transition-property: transform, opacity, fill;

			opacity: .7;

			fill: $color--primary;
			}
		}
	}

.copyright {
	font-size: .875em;

	margin-top: $ms *2rem;
	padding: $ms *1rem 0;

	text-align: center;

	color: $color--light;
	background-color: $color--primary;
	}

</style>
