<template lang="html">
  <header class="site-header" :class="{'site-header--show':this.isScrollUp, 'site-header--affixed':this.isScroll, 'show-mobile-nav':this.showMobileNav}" @scroll="onScrolling">
    <div class="container">
      <nuxt-link to="/" class="home-link">
        <logo/>
      </nuxt-link>
      <button class="toggle-nav" v-on:click="showMobileNav = !showMobileNav">
        <svg class="icon icon-menu">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-menu"></use>
        </svg>
        <svg class="icon icon-close">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
      </button>

      <div class="site-nav__wrap">
        <nav class="site-nav">
          <nuxt-link 
            v-for="item in navigation_items"
            :to="item.link"
            :key="item.name"
            class="site-nav__link" 
            @click.native="showMobileNav = false">

            <svg class="icon" :class="'icon-' + item.icon">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" v-bind="{'xlink:href': '#icon-' + item.icon}"></use>
            </svg>
            <span class="site-nav__link-name">{{item.name}}</span>
          </nuxt-link>
        </nav>
        <div class="site-nav__call-us">
          <h4 class="site-nav__call-us-title">Позвоните нам</h4>
          <a v-bind="{'href': 'tel:' + formatPhoneNumber(office_phone_number, 'machine')}">
            <svg class="icon icon-phone">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-phone"></use>
            </svg>
            <span class='site-nav__call-us-number'>
              {{formatPhoneNumber(office_phone_number, 'human')}}
            </span>
          </a>
        </div>
      </div>
    </div>
  </header>
</template>

<style lang="scss" scoped>
  @import "assets/styles/variables";
  @import "assets/styles/mixins";
  @import "assets/styles/layout/site-header";
  @import "assets/styles/layout/navigation";
</style>

<script>
  import Logo from '~/components/Logo'
  import debounce from 'lodash/debounce'
  import { mapState } from 'vuex'

  export default {
    components: { Logo },
    computed: mapState(['navigation_items', 'office_phone_number']),
    data () {
      return {
        previousScrollPosition: 0,
        isScrollUp: false,
        isScroll: false,
        showMobileNav: false
      }
    },
    created () {
      if (process.browser) {
        window.addEventListener('scroll', this.onScrolling)
      }
    },
    methods: {
      debounceHeader: debounce(function () {
        window.pageYOffset >= this.previousScrollPosition ? this.isScrollUp = false : this.isScrollUp = true
        this.previousScrollPosition = window.pageYOffset
        this.isScroll = window.pageYOffset > 0

        if (window.pageYOffset === 0) this.isScrollUp = false
      }, 300),
      onScrolling: function () {
        if (!this.showMobileNav) { this.debounceHeader() }
      },
      formatPhoneNumber: (number, agent) => {
        var num = number.replace(/([^0-9]+)/g, '')

        if (num === '') return 'мы забыли добавть номер :('

        if (num.length < 10 || num.length > 12) return num // короткий или длинный номер, возвращаем без форматирования

        switch (agent) {
          case 'human':
            if (num.length === 11) return '8 (' + num.slice(1, 4) + ') ' + num.slice(4, 7) + '-' + num.slice(7, 11)
            if (num.length === 10) return '8 (' + num.slice(0, 3) + ') ' + num.slice(3, 6) + '-' + num.slice(6, 10)
            break
          case 'machine':
            if (num.length === 11 && (num[0] === '7' || num[0] === '8')) return '+7' + num.slice(1, 11)
            if (num.length === 10) return '+7' + num
            break
          default: break
        }
      }
    },
    destroyed () {
      window.removeEventListener('scroll', this.onScrolling)
    }
  }
</script>
