.site-header {
	position: fixed;
	z-index: 100;
	top: 0;

	width: 100%;
	padding: $ms *.5em 0;

	transition: .35s $easing-curve--alt;
	transition-property: transform, padding, box-shadow;

	background-color: $color--light;

	@include clearfix();

	@media ( min-width: $screen-width-sm ) {
		height: $ms *3.5rem;
		}

	@media ( min-width: $screen-width-md ) {
		display: block;

		padding-bottom: 0;

		background-color: rgba( $color--light, .95 );
		}

	&--affixed {
		transform: translateY(-100%);

		box-shadow: 0 1px 3px rgba( $color--dark, .1 ), 0 0 9px rgba( $color--dark, .09 );

		@media #{$tablet-portrait} {
			padding-top: $ms *.5em;
			}
		}

	&--show {
		transform: translateY(0);
		}
	}

.home-link {
	float: left;
	}
