.swiper-wrapper {
	display: flex;
	}

.swiper-container {
	position: relative;

	overflow-x: hidden;

	margin-bottom: $ms *1.5em;
	padding: 0 0 $ms *1.5em;
	}

.swiper-buttons {
	@include swiperButtons();
	}

.slide-dummy {
	font-size: $ms *2.25em;
	line-height: $ms;

	display: inline-block;
	display: flex;
	align-items: center;

	width: 100%;
	height: 700px;
	padding: 0 $ms *3em;

	text-align: center;
	}

.swiper-slide {
	flex-shrink: 0;

	max-width: 100%;
	min-height: 700px;
	}
