.swiper-slide-active {
	.drop-layers {
		.layers {
			animation: decentrance 2s ease-out 1s forwards 1;

			opacity: 1;

			.layer {
				box-shadow: -6px 11px 18px rgba( $color--dark, .5 ), -5px 5px 3px rgba( $color--dark, .1 );

				&--1 {
					animation: slidein 2s $easing-curve--alt 3s forwards 1;
					}

				&--2, &--3 {
					animation: slidein-2 2s $easing-curve--alt 3.5s forwards 1;

					box-shadow: -15px 20px 28px rgba( $color--dark, .5 ), -5px 5px 3px rgba( $color--dark, .1 );
					}

				&--3 {
					animation-delay: 4s;
					}
				}
			}

		.marker-placeholder {
			animation: markerDrop .5s $easing-curve--alt 4.75s forwards 1;

			&-inner::after {
				animation: scaleShadow .35s ease-out 4.9s forwards 1;
				}

			&:nth-child(2) {
				animation-delay: 5s;

				.marker-placeholder-inner::after {
					animation-delay: 5.15s;
					}
				}

			&:nth-child(3) {
				animation-delay: 5.25s;

				.marker-placeholder-inner::after {
					animation-delay: 5.4s;
					}
				}
			}
		}
	}

.drop-layers {
	position: relative;

	width: 1000px;
	height: 700px;
	margin: 0 auto;

	.markers-with-tooltips {
		position: absolute;
		z-index: 50;
		top: 0;
		left: 0;

		width: 1000px;
		height: 700px;

		.marker-placeholder {
			position: absolute;

			opacity: 0;

			&-inner {
				position: relative;

				&::after {
					position: absolute;
					z-index: -1;
					bottom: -4px;
					left: 14px;

					display: block;

					width: 22px;
					height: 10px;

					content: '';

					border-radius: 50%;
					background-color: rgba( $color--dark, .4 );
					box-shadow: 0 0 9px $color--dark;
					}
				}

			&:hover {
				.marker {
					transform: scale(1.2,1.2);
					}

				.popover {
					opacity: 1;
					}
				}
			}

		.popover {
			position: absolute;
			bottom: 90px;
			left: -120px;

			width: 300px;
			padding: $ms *1em 2em $ms *1.25em;

			transition: all .25s $easing-curve--alt;
			pointer-events: none;

			opacity: 0;
			border-radius: 3px;
			background-color: $color--light;
			box-shadow: 0 3px 9px rgba( $color--dark, .15 ), 0 0 27px rgba( $color--dark, .09 );

			&__title {
				font-size: 1.25em;
				line-height: $ms *1rem;

				margin: 0 0 $ms *.25rem;

				color: $color--primary;
				}

			&__description {
				line-height: 1.25;
				}

			&::after {
				position: absolute;
				z-index: 2;
				bottom: -5px;
				left: 46.5%;

				display: block;

				width: 10px;
				height: 10px;

				content: '';
				transform: rotate(45deg);

				background-color: $color--light;
				}
			}

		.marker {
			width: 50px;
			height: 78px;

			cursor: pointer;
			transition: transform .35s $easing-curve--alt;
			transform: scale(1,1);
			transform-origin: bottom;

			background-image: url('~assets/images/marker.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			}
		}

	.layer {
		position: absolute;

		transition: all 1s ease;

		background-repeat: no-repeat;

		&s {
			position: relative;

			width: 1000px;
			height: 700px;
			margin: 0 auto;

			transform: scale(.8);

			opacity: 1;
			}

		&--0 {
			width: 1000px;
			height: 700px;

			background-image: url('~assets/images/layer-map.jpg');
			background-position: center;
			background-size: cover;
			}

		&--1, &--2, &--3 {
			opacity: 0;
			}

		&--1 {
			z-index: 1;

			width: 1000px;
			height: 100px;

			background-color: darken( $color--light, 10% );
			}

		&--2 {
			z-index: 2;
			top: 100px;
			right: 0;

			width: 100px;
			height: 100px;

			background-color: $color--primary;
			}

		&--3 {
			z-index: 2;
			top: 100px;
			left: 0;

			width: 250px;
			height: 600px;

			background-color: $color--light;
			}
		}
	}

@keyframes decentrance {
	0% {
		transform: translate3d(0,0,0) scale(.8);
		}
	100% {
		transform: translate3d(0,0,0) rotateX(50deg) rotateY(0) rotateZ(-30deg) scale(.8);
		}
	}

@keyframes slidein {
	0% {
		transform: translate3d(43px,-70px,100px);

		opacity: 0;
		}
	100% {
		transform: translate3d(13px,-20px,100px);

		opacity: 1;
		}
	}

@keyframes slidein-2 {
	0% {
		transform: translate3d(60px,-90px,100px);

		opacity: 0;
		}
	100% {
		transform: translate3d(30px,-40px,100px);

		opacity: 1;
		}
	}

@keyframes markerDrop {
	0% {
		transform: translateY(-100%);

		opacity: 0;
		}
	100% {
		transform: translateY(0);

		opacity: 1;
		}
	}

@keyframes scaleShadow {
	0% {
		transform: scale(0);

		opacity: 0;
		}
	100% {
		transform: scale(1);

		opacity: 1;
		}
	}
