.swiper-slide-active .expand-layers .layers {
	transform: rotateX(50deg) rotateY(0) rotateZ(-30deg) scale(.8);
	}

.expand-layers {
	position: relative;

	width: 1000px;
	height: 700px;
	margin: 0 auto;

	.layer {
		position: absolute;
		top: 0;
		left: 0;

		width: 1000px;
		height: 700px;

		//animation: floating 3s ease-in-out forwards infinite;

		background-image: url('~assets/images/dummy-interface.png');
		background-repeat: no-repeat;
    box-shadow: -5px 5px 3px rgba( $color--dark, .1 );

		&s {
			position: relative;

			width: 1000px;
			height: 700px;
			margin: 0 auto;

			transition: transform 1s ease-out .15s;
			transform: scale(.8);

			opacity: 1;

			transform-style: preserve-3d;
			}

		&--toolbar {
			top: 0;
			left: 0;

			width: 1000px;
			height: 75px;

			transform: translateZ(80px);

			background-position: left top;
			}

		&--sidebar {
			top: 75px;
			left: 0;

			width: 200px;
			height: 350px;

			transform: translateZ(15px);

			background-position: top -75px left 0;
			}

		&--content {
			top: 75px;
			left: 500px;

			width: 500px;
			height: 625px;

			transform: translateZ(65px);

			background-position: top -75px left -500px;
			}

		&--midbar-item {
			top: 75px;
			left: 200px;

			width: 300px;
			height: 81px;

			transform: translateZ(65px);

			background-position: top -75px left -200px;
			}

		&--midbar-items {
			top: 156px;
			left: 200px;

			width: 300px;
			height: 544px;

			transform: translateZ(50px);

			background-position: top -156px left -200px;
			}

		&--shadow {
			transform: translateZ(-20px);

			background-color: darken( $color--light, 10% );
			background-image: none;
			box-shadow: 0 0 70px 15px darken( $color--light, 10% );
			}
		}
	}

@keyframes floating {
	50% {
		transform: translateZ(40px);
		}
	}
