.slide-3d {
	display: block;

	width: 1000px;
	height: 700px;
	margin: 0 auto;
	padding: 100px 0;

	perspective: 1000px;
	transform-style: preserve-3d;

	.card {
		position: relative;

		width: 750px;
		height: 500px;
		margin: auto 3rem auto auto;
		padding: 30px;

		pointer-events: none;

		border-radius: 5px;
		background: $color--primary;

		backface-visibility: hidden;
		transform-style: preserve-3d;

		&::after {
			position: absolute;
			bottom: -50px;
			left: 0;

			width: 100%;
			height: 10px;

			content: ' ';

			border-radius: 50%;
			}

		.layer {
			position: absolute;
			&s {
				position: relative; 

				margin: auto;

				text-align: center;

				transform-style: preserve-3d;
				}

			&--0 {
				top: 75px;
				left: 0;

				width: 200px;
				height: 350px;

				transform: translateZ(50px);

				background-image: url('~assets/images/dummy-interface.png');
				background-repeat: no-repeat;
				background-position: top -75px left 0;
				}

			&--1 {
				font-size: 1.25em;
				font-weight: 700;
				line-height: 75px;

				top: 0;
				left: 0;

				width: 650px;
				height: 75px;

				transform: translateZ(75px);
				letter-spacing: .025em;

				background-color: darken( $color--light, 10% );

				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				}

			&--2 {
				top: 75px;
				right: 0;

				width: 100px;
				height: 100px;

				transform: translateZ(50px);

				background-color: darken( $color--primary, 30% );
				}
			}
		}
	}
