// Clerfix
@mixin clearfix() {
	&::before, &::after {
		display: table; 

		content: '';
		}

	&::after {
		clear: both;
		}
	}

@mixin nowrapHiddenText() {
	overflow: hidden; 

	white-space: nowrap;
	text-overflow: ellipsis;
	}

@mixin nowrapHiddenTextMultiline($lines-to-show, $line-height) {
	line-height: $line-height;

	display: block;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;

	height: $lines-to-show * $line-height;

	text-overflow: ellipsis;

	-webkit-line-clamp: $lines-to-show;
	}

@mixin resetList() {
	margin: 0;
	padding: 0;

	list-style-type: none;
	}

@mixin swiperButtons() {
	position: absolute;
	top: 50%;

	width: 100%;
	margin-top: -$ms *1.5em;

	@include clearfix();

	.swiper-prev, .swiper-next {
		position: relative;
		z-index: 5;

		transition: opacity .5s $easing-curve--main;

		opacity: 1;
		}

	.swiper-prev {
		float: left;

		transform: scale(-1, 1);
		}

	.swiper-next {
		float: right;
		}

	.swiper-button-disabled {
		pointer-events: none; 

		opacity: .25;
		}
	}

@mixin borderHoverAnimation() {
	span {
		position: relative;

		display: block;

		width: 100%;
		height: 100%;

		&::before, &::after {
			position: absolute;
			bottom: 0;
			left: 0;

			content: '';
			transition: all .3s ease;

			background: $color--primary;
			}

		&::before {
			width: 1px;
			height: 0;
			}

		&::after {
			width: 0;
			height: 1px;
			}

		&:hover::before {
			height: 100%;
			}

		&:hover::after {
			width: 100%;
			}
		}

	&::before, &::after {
		position: absolute;
		top: 0;
		right: 0;

		content: '';
		transition: all .3s ease;

		background: $color--primary;
		}

	&::before {
		width: 1px; 
		height: 0;
		}

	&::after {
		width: 0;
		height: 1px;
		}

	&:hover::before {
		height: 100%;
		}

	&:hover::after {
		width: 100%;
		}
	}
