.porfolio-slide {
	width: 100%;
	padding: $ms *1em 4em $ms *2.75em;

	perspective: 1000px;

	&__company-logo {
		position: absolute;
		right: 1.5em;

		width: 2em;
		height: 2em;

		opacity: .5;
		}

	&__wrap {
		position: relative;

		height: 450px;

		transition: transform .5s $easing-curve--alt;

		transform-style: preserve-3d;
		}

	&--show-video &__wrap {
		transform: rotateX(180deg);
		}

	&__card {
		position: absolute;
		top: 0;
		left: 0;

		display: flex;

		width: 100%;
		height: 450px;

		border-radius: .125em;
		box-shadow: 0 25px 77px -27px rgba( darken( $color--primary, 25% ), .4 );

		backface-visibility: hidden;

		&--front {
			transform: rotateX(0deg);
			}

		&--back {
			transform: rotateX(180deg);

			background-color: $color--primary;

			video {
				width: 100%;
				}

			iframe {
				width: 100%;
				}
			}
		}

	&__thumb {
		width: 50%;
		height: 450px;
		margin: 0;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		}

	&__info {
		position: relative;

		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-between;

		width: 50%;
		padding: $ms *1em 2em;
		}

	&__production-year {
		margin-bottom: $ms *1em;

		border-bottom: 2px solid $color--primary;
		}

	&__about {
		flex-grow: 1;
		}

	&__title {
		font-size: $ms *2em;
		line-height: $ms *1.75rem;

		margin-bottom: $ms *1rem;

		color: $color--primary;
		}

	&__link {
		line-height: 2;

		position: relative;

		align-self: flex-end;

		width: 160px;

		text-align: center;

		@include borderHoverAnimation();
		}

	&__show-video-button {
		line-height: 2;

		position: absolute;
		bottom: $ms *1rem;
		left: 2rem;

		padding: 0 $ms *.5em;

		cursor: pointer;
		}

	&__show-info-button {
		line-height: $ms *1.5em;

		position: absolute;
		z-index: -1;
		right: 0;
		bottom: 0;

		padding: 0 $ms *.5em;

		cursor: pointer;
		transition: background-color .35s $easing-curve--alt;

		color: $color--light;
		background-color: $color--primary;

		&:hover, &:focus {
			background-color: lighten($color--primary, 5%);
			}

		&:active {
			background-color: $color--primary;
			}
		}

	&--show-video &__show-info-button {
		animation: showInfoButton .35s $easing-curve--alt .4s forwards 1;
		}
	}

@keyframes showInfoButton {
	0% {
		transform: translateY(0);
		}
	100% {
		transform: translateY($ms *1.5em);
		}
	}
