// Typography

	// Scales
	$perfect-fourth: 1.333; // 3:4 
	$aug-fourth: 1.414; // 1:sqrt(2)
	$perfect-fifth: 1.5; // 2:3 
	$golden-section: 1.618; //1:1.618

$font-size--base: 16px;
$modular-scale: $perfect-fifth;
$ms: $modular-scale;

$fontstack--sans-serif: 'Gilroy', Helvetica, Verdana, sans-serif;


$azure: #007aff;
$eerie-black: #1B1725;

$color--light: #fff; // белый
$color--dark: $eerie-black;

$color--primary: $azure;

$color--text: $color--dark;
$color--main-bg: darken( $color--light, 2% );


//Material Design motion curves
$standard-curve: cubic-bezier( 0.4, 0.0, 0.2, 1 );
$deceleration-curve: cubic-bezier( 0.0, 0.0, 0.2, 1 );
$acceleration-curve: cubic-bezier( 0.4, 0.0, 1, 1 );
$sharp-curve: cubic-bezier( 0.4, 0.0, 0.6, 1 );

$mild-acceleration-curve: cubic-bezier(0.07, 0.28, 0.45, 1.19);

$tympanus-curve-a: cubic-bezier(0.25,0.25,0.325,1.39);
$tympanus-curve-b: cubic-bezier(0.6,0,0.4,1);

$ease-in-out-back-curve: cubic-bezier(0.680, -0.550, 0.265, 1.550);
$ease-in-out-circ-curve: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$ease-in-out-expo-curve: cubic-bezier(1.000, 0.000, 0.000, 1.000);

$velo-curve: cubic-bezier(.535,0,0,1);

$easing-curve--main: $tympanus-curve-b;
$easing-curve--alt: $velo-curve;
$easing-curve--pump: $ease-in-out-back-curve;
$easing-curve--mild-pump: $ease-in-out-expo-curve;

//Layout
$max-phone-width: 736px;
$phablet-minwidth-potrait: 375px;
$screen-width-xs-landscape: 480px;
$screen-width-sm: 768px;
$screen-width-sm-landscape: 1024px;
$screen-width-md: 992px;
$screen-width-lg: 1200px;
$screen-width-xl: 1366px;


//media queries

	//iPad Pro
	$ipad-pro-portrait: '( min-device-width : #{$screen-width-sm-landscape} ) and ( max-device-width : #{$screen-width-sm-landscape} ) and ( min-device-height : #{$screen-width-xl} ) and ( max-device-height : #{$screen-width-xl} ) and ( min-width: #{$screen-width-sm-landscape} ) and ( max-width: #{$screen-width-sm-landscape}) and ( orientation: portrait )';

	$ipad-pro-landscape: '( min-device-width : #{$screen-width-xl} ) and ( max-device-width : #{$screen-width-xl} ) and ( min-device-height : #{$screen-width-sm-landscape} ) and ( max-device-height : #{$screen-width-sm-landscape} ) and ( min-width: #{$screen-width-xl} ) and ( max-width: #{$screen-width-xl} ) and ( orientation: landscape )';


	//touchscreen devices
	$phone-landscape: '( min-width: #{$screen-width-xs-landscape} ) and ( orientation: landscape ) and ( max-width: #{$max-phone-width} )'; 
	$tablet-portrait: '( min-width: #{$screen-width-sm} ) and ( orientation: portrait ), #{$ipad-pro-portrait}';

	$phablet-portait: '( min-width: #{$phablet-minwidth-potrait} ) and ( orientation: portrait ) and ( max-height: #{$max-phone-width} )';
	
	//devices with mouse input
	$laptop: '( min-width: #{$screen-width-lg} )';

	//touchscreen devices
	$tablet-landscape: '( max-device-width: #{$screen-width-sm-landscape} ) and ( orientation: landscape ), #{$ipad-pro-landscape}';

	$tablet: $tablet-portrait + ', ' + $tablet-landscape;

	//devices with mouse input
	$desktop: '( min-width: #{$screen-width-xl + 1px} )';
