<template>
	<div class="app">
		<icons/>
		<siteheader/>
		<nuxt/>
		<feedbackform/>
		<sitefooter/>
	</div>
</template>

<script>
import Siteheader from '~/components/Siteheader'
import Sitefooter from '~/components/Sitefooter'
import Feedbackform from '~/components/Feedbackform'
import Icons from '~/components/Icons'

export default {
  components: { Siteheader, Sitefooter, Feedbackform, Icons }
}
</script>

<style lang="scss">
@import 'assets/styles/variables';
@import 'assets/styles/mixins';

html, body {
	font: #{$font-size--base}/#{$ms} $fontstack--sans-serif;
	font-weight: 200;

	position: relative;

	overflow-x: hidden;

	box-sizing: border-box;
	width: 100%;
	padding: 0 !important;

	word-spacing: 1px;

	color: $color--text;

	-webkit-font-smoothing: subpixel-antialiased; // шрифт жирнее, хорошо для тонких шрифтов
	-moz-osx-font-smoothing: auto; // шрифт жирнее, хорошо для тонких шрифтов
	-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
	}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	}

:focus {
	outline: none;
	}

img {
	max-width: 100%;
	} // responsive images helper

input, textarea, select, button, optgroup {
	font-family: $fontstack--sans-serif;
	} // fontstack reset

table {
	border-spacing: 0;
	border-collapse: collapse;
	}

address {
	font-style: normal;
	}

button {
	border: none;
	background-color: transparent;
	}

strong, h1, h2, h3, h4, h5, h6 {
	font-weight: 700;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}

a {
	transition: color .25s $easing-curve--main;
	text-decoration: none;

	color: $color--text;

	&:hover, &:focus {
		color: $color--primary;
		}

	&:active {
		color: $color--text;
		}
	}

::selection {
	color: $color--light;
	background-color: $color--primary;
	}

::-moz-selection {
	color: $color--light;
	background-color: $color--primary;
	}

main {
	margin-top: $ms *2.5rem;

	@media ( min-width: $screen-width-sm ) {
		margin-top: $ms *3.25rem;
		}

	@media #{$phone-landscape} {
		margin-top: $ms *2.5rem;
		}

	@media ( min-width: $screen-width-md ) {
		margin-top: $ms *3.75rem;
		}
	}

.row {
	margin: 0 $font-size--base * -1;

	@include clearfix();
	}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 $font-size--base;

	@media ( min-width: $screen-width-sm ) {
		width: calc( #{$screen-width-sm} - 2rem );
		}

	@media ( min-width: $screen-width-md ) {
		width: calc( #{$screen-width-md} - 8rem );

		&--wider {
			width: $screen-width-md;
			}
		}

	@media #{$laptop} {
		width: calc( #{$screen-width-lg} - 16rem );

		&--wider {
			width: calc( #{$screen-width-lg} - 6rem );
			}
		}

	@media #{$desktop} {
		&--wider {
			width: calc( #{$screen-width-xl} - 4rem );
			}
		}

	&--full-width {
		width: 100%;
		}
	}

.content {
	padding: $ms *2.5em 0;

	background-color: $color--main-bg;
	}

.page-title {
	letter-spacing: .025em;
	text-transform: uppercase;
	}

.sr-only {
	position: absolute;

	overflow: hidden;
	clip: rect(0, 0, 0, 0);

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	}

// Анимация переходов (промежуточного отображения) между страницами, используем хуки Vue.js
.page-enter-active, .page-leave-active {
	transition: all .25s ease-out;
	}

.page-enter, .page-leave-active {
	transform-origin: 50% 50%;

	opacity: 0;
	}


// // Анимация переходов вход и выход
// .page-enter-active { animation: acrossIn .45s ease-out both; } 

// .page-leave-active { animation: acrossOut .65s ease-in both; } 

// @keyframes acrossIn {
//   0% { transform: translate3d(-100%, 0, 0); }
//   100% { transform: translate3d(0, 0, 0); }
// }

// @keyframes acrossOut {
//   0% { transform: translate3d(0, 0, 0); }
//   100% { transform: translate3d(100%, 0, 0); }
// }

</style>
