<template>
  <main>
    <div class="container">
      <header class="page-header">
        <h1 class="page-title">Блог</h1>
        <p class="page-description">Новости компании и разные интересности</p>
      </header>
      <div class="post-list">
        <article class="post" v-for="(post, index) in posts" :key="post.id" itemscope itemtype="http://schema.org/Article">
          <!-- <nuxt-link class="post__link" :to="{ path: '/blog/' + post.id, name: post.name, params: { postId: post.id }}"> -->
          <nuxt-link class="post__link" :to="'/blog/' + post.id">
            <figure class="post__thumb" :style="{ backgroundImage: 'url(' + post.thumbSrc + ')' }"></figure>
            <h2 class="post__title">{{post.title}}</h2>
            <p class="post__description">{{post.description}}</p>
          </nuxt-link>
          
          <div class="post__author">
            <img :src="post.userpicSrc" class="post__author-userpic">
            <div class="post__author-name" itemprop="author">{{post.author}}</div>
            <time class="post__date">{{localDate(post.timestamp)}}</time> 
            <meta itemprop="datePublished" :content="microdataDate(post.timestamp)">
          </div>
          <div class="post__tags">
            <nuxt-link to="blog" v-for="tag in post.tags" :key="tag">{{'#' + tag}}</nuxt-link>
          </div>
        </article>
      </div>
    </div>
  </main>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    data () {
      return {}
    },
    computed: mapState(['posts']),
    methods: {
      localDate: (timestamp) => {
        let toLocalDate = new Date(timestamp * 1000)
        let options = {
          timeZone: 'Europe/Moscow',
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        }
        let optYear = { timeZone: 'Europe/Moscow', year: 'numeric' }

        let now = new Date(Date.now())
        let todayYear = now.toLocaleDateString('ru-RU', optYear)
        let postYear = toLocalDate.toLocaleDateString('ru-RU', optYear)

        if (todayYear === postYear) { options.year = undefined }
        return toLocalDate.toLocaleDateString('ru-RU', options)
      },
      microdataDate: (timestamp) => {
        let mdDate = new Date(timestamp * 1000)

        let mdYear = mdDate.getFullYear()
        let mdMonth = mdDate.getMonth() + 1 + ''
        if (mdMonth.length === 1) { mdMonth = '0' + mdMonth }
        let mdDay = mdDate.getDate() + ''
        if (mdDay.length === 1) { mdDay = '0' + mdDay }

        return `${mdYear}-${mdMonth}-${mdDay}`
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "assets/styles/variables";
  @import "assets/styles/mixins";
  @import "assets/styles/blog/posts-list";
  @import "assets/styles/blog/posts-list-item";
</style>
