<template>
  <main>
    <div class="container container--wider">
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-dummy">
              <div class="slide-dummy__text">
                Можете <strong>листать </strong> <em>с помощью</em> кнопок <strong>вперед</strong> и <strong>назад</strong>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="drop-layers">
              <div class="markers-with-tooltips">
                <div class="marker-placeholder"
                    v-for="marker in markers"
                    :key="{marker}"
                    :style="{ left: marker.x + '%', bottom: 100 - marker.y + '%' }">
                  <div class="marker-placeholder-inner">
                    <div class="marker"></div>
                    <div class="popover">
                      <h4 class="popover__title">{{marker.popoverTitle}}</h4>
                      <div class="popover__description">{{marker.popoverDescription}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="layers">
                <div class="layer layer--3"></div>
                <div class="layer layer--2"></div>
                <div class="layer layer--1"></div>
                <div class="layer layer--0"></div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="expand-layers">
              <div class="layers">
                <div class="layer layer--toolbar"></div>
                <div class="layer layer--sidebar"></div>
                <div class="layer layer--midbar-item"></div>
                <div class="layer layer--midbar-items"></div>
                <div class="layer layer--content"></div>
                <div class="layer layer--shadow"></div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-3d" @mousemove="onMove">
              <div ref="slide3d">
                <div class="card" id="card3d" :style="{ transform: 'rotateX(' + (31 - (axis.y*4)) + 'deg) rotateY(' + (12 + axis.x) + 'deg) rotateZ(-15deg)'}">
                  <!-- <div class="card" id="card3d" :style="{ transform: 'rotateY(' + axis.x + 'deg) rotateX(' + axis.y + 'deg)' }"> -->
                  <div class="layers">
                    <div class="layer layer--2"></div>
                    <div class="layer layer--1">Это 3D штуки, просто поводите мышкой</div>
                    <div class="layer layer--0"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
        <div class="swiper-buttons">
          <div class="swiper-prev">
            <iconincircle/>
          </div>
          <div class="swiper-next">
            <iconincircle/>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Iconincircle from '~/components/Iconincircle.vue'

export default {
  components: { Iconincircle },
  data () {
    return {
      axis: { x: 0, y: 0 },
      markers: [
        {
          x: 47,
          y: 36,
          popoverTitle: 'Название маркера',
          popoverDescription: 'Южно-эфиопский грач увёл мышь за хобот на съезд ящериц'
        },
        {
          x: 39,
          y: 60,
          popoverTitle: 'Радостный котик',
          popoverDescription: 'Подъём с затонувшего эсминца легко бьющейся древнегреческой амфоры сопряжён с техническими трудностями'
        },
        {
          x: 73,
          y: 52,
          popoverTitle: 'Зелёная чупакабра',
          popoverDescription: 'Съешь ещё этих мягких французских булок, да выпей [же] чаю'
        }
      ],
      swiperOption: {
        slidesPerView: 'auto',
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets'
        },
        navigation: {
          nextEl: '.swiper-next',
          prevEl: '.swiper-prev'
        },
        // ,paginationClickable: true,
        keyboard: true
      }
    }
  },
  created: function () {
    if (process.browser) {
      window.addEventListener('mousemove', this.onMove)
    }
  },
  methods: {
    onMove: function (e) {
      // this.axis.x = -(window.innerWidth / 2 - e.pageX) / 60
      // this.axis.y = (window.innerHeight / 2 - e.pageY) / 40
      this.axis.x = e.pageX / 100
      this.axis.y = e.pageY / 300
    }
  },
  beforeDestroyed: function () {
    window.removeEventListener('mousemove', this.onMove)
  }
}
</script>

<style lang="scss" scoped>
  @import "assets/styles/variables";
  @import "assets/styles/mixins";

  @import "assets/styles/dev-gis";
  @import "assets/styles/dev-gis--drop-layers";
  @import "assets/styles/dev-gis--expand-layers";
  @import "assets/styles/dev-gis--3d-effect";
</style>
