<template>
  <main>
    <onboardingswiper/> 
    <onboardingfeatures class="onboarding-features"/>
    <div class="scroll-down-indicator">
      <svg class="icon icon-expand-more">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-expand-more"></use>
      </svg>
    </div>
  </main>
</template>

<style lang="scss" scoped>
  @import "assets/styles/variables";
  @import "assets/styles/home/common";
</style>

<script>
  import Onboardingfeatures from '~/components/home/Onboardingfeatures.vue'
  import Onboardingswiper from '~/components/home/Onboardingswiper.vue'

  export default {
    components: { Onboardingswiper, Onboardingfeatures }
  }
</script>
