<template>
  <main>
    <div class="container container--wider">
      <div v-swiper:mySwiper="swiperOption">
        <div class="swiper-wrapper">
          <div class="swiper-slide porfolio-slide" 
              :class="{'porfolio-slide--show-video':slide.showVideo}" 
              v-for="slide in portfolioItems" :key="slide.id">
            <div class="porfolio-slide__wrap">
              <div class="porfolio-slide__card porfolio-slide__card--front">
                <figure class="porfolio-slide__thumb" :style="{ backgroundImage: 'url(' + slide.thumbSrc + ')' }">
                </figure>
                <div class="porfolio-slide__info">
                  <img src="~assets/images/ba-logo.svg" alt="Логотип компании" class="porfolio-slide__company-logo">
                  <div class="porfolio-slide__production-year">{{slide.year}}</div>
                  <div class="porfolio-slide__about">
                    <h2 class="porfolio-slide__title">{{slide.title}}</h2>
                    <p class="porfolio-slide__description">{{slide.description}}</p>
                  </div>
                  <a class="porfolio-slide__link" :href="slide.link"><span>Перейти на сайт</span></a>
                  <button class="porfolio-slide__show-video-button" v-on:click="slide.showVideo = !slide.showVideo" v-if="slide.videoSrc">Посмотреть видео</button>
                </div>
              </div>
              <div class="porfolio-slide__card porfolio-slide__card--back">
                <button class="porfolio-slide__show-info-button" 
                        v-on:click="slide.showVideo = !slide.showVideo" 
                        v-if="slide.videoSrc">
                  Вернуться к информации
                </button>
                <video controls="controls" >
                  <source :src="slide.videoSrc">
                </video>
                <!-- <iframe :src="slide.videoSrc" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination swiper-pagination-bullets"></div>
        <div class="swiper-buttons">
          <div class="swiper-prev">
            <iconincircle icon="arrow-forward-thin" thin="true"/>
          </div>
          <div class="swiper-next">
            <iconincircle icon="arrow-forward-thin" thin="true"/>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { mapState } from 'vuex'
import Iconincircle from '~/components/Iconincircle.vue'

export default {
  components: { Iconincircle },
  computed: mapState(['portfolioItems']),
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets'
        },
        navigation: {
          nextEl: '.swiper-next',
          prevEl: '.swiper-prev'
        },
        // ,paginationClickable: true,
        mousewheel: true,
        keyboard: true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  @import 'assets/styles/variables';
  @import 'assets/styles/mixins';

  .swiper-wrapper {
    display: flex;    
    }

  .swiper-slide {
    flex-shrink: 0;
    }

  .swiper-container {
  	position: relative;
    overflow-x: hidden;

  	margin: $ms *.5em 0 $ms *2em;
  	}

  .swiper-buttons {
  	@include swiperButtons();
  	}

  @import 'assets/styles/portfolio';

</style>
