<template>
  <main>
    <!--<ul v-if="posts && posts.length">
      <li v-for="post of posts">
        <h3>{{post.slug}}</h3>
        <img :src="post.photos.alt_sizes[2].url">
      </li>
    </ul>-->

    <!--<ul v-if="errors && errors.length">
      <li v-for="error of errors">
        {{error.message}}
      </li>
    </ul>-->

    <!--<button v-popover:foo>Toggle popover</button>

    <popover name="foo">
      Hello 🎉
    </popover>-->
    

    <section class="landing-section landing-section--top">
      <firebasesinusoid/> 
    </section>
    <section class="landing-section">
      <h1>Мы делаем крутые штуки</h1>
    </section>
    <section class="landing-section">
      <circleanimation/>
    </section>
    <div class="flex-container">
      <img :src="imgSrc">
      <div class="description">Пиу-пиу трим-пам-пам</div>
    </div>
  </main>
</template>

<script>
import Circleanimation from '~/components/Circleanimation.vue'
import Firebasesinusoid from '~/components/Firebasesinusoid.vue'
import axios from 'axios'

export default {
  components: {
    Circleanimation,
    Firebasesinusoid
  },
  transition: 'fadeOpacity',
  data () {
    return {
      stuff: null,
      someShit: 'piu',
      fetch_error: null
      // imgSrc: require('~/assets/images/portfolio/1.jpg')
    }
  },
  asyncData ({isServer}) {
    if (isServer) {
      return axios.get('https://api.tumblr.com/v2/blog/taigadream/likes?api_key=7017KJw4c2YSxlTevusL0oidKi8u0120JbxGQugGHQKzpScrTh')
        .then((res) => {
          return { stuff: res.data.response.liked_posts }
        })
        .catch(function (error) {
          return { fetch_error: error }
        })
    }
  }
}
</script>

<style lang="scss">
  @import 'assets/styles/variables';

  .flex-container {
  	display: flex;
  	align-items: center;
  	flex-direction: column;
  	justify-content: center;

  	background-color: tomato;

  	.description {
  		color: $color--light;
  		}
  	}

  .fadeOpacity-enter-active,
  .fadeOpacity-leave-active {
  	transition: opacity .35s ease-out;
  	}

  .fadeOpacity-enter,
  .fadeOpacity-leave-active {
  	opacity: 0;
  	}

  .landing-section {
  	position: relative;
  	z-index: 1;

  	min-height: $ms *25em;
  	margin-bottom: $ms *1em;
  	padding: $ms *1em;

  	border-radius: .5em;
  	background-color: $color--light;
  	box-shadow: 0 1px 3px rgba( $color--dark, .15 ), 0 0 9px rgba( $color--dark, .15 );

  	&--top {
  		min-height: $ms *10em;

  		background-color: transparent;
  		box-shadow: none;
  		}
  	}

</style>
