.post-wrap .button-back {
	line-height: $ms *1.75rem;

	display: none;
	align-items: center;
	justify-content: center;

	max-width: 18rem;
	margin-bottom: $ms *.75rem;

	user-select: none;
	transition: .3s $easing-curve--main;
	transition-property: color, background-color;

	border: 1px solid $color--primary;
	border-radius: $ms *1.75rem;

	.icon-arrow-back {
		width: $ms *1.25rem;
		height: $ms *1.25rem;
		margin-right: .5em;
		margin-left: -1em;

		transition: fill .3s $easing-curve--main;
		}

	&:hover, &:focus {
		color: $color--light;
		background-color: $color--primary;

		.icon-arrow-back {
			fill: $color--light;
			}
		}

	&:active {
		color: $color--text;
		background-color: transparent;

		.icon-arrow-back {
			fill: $color--text;
			}
		}
	}
