.page-header {
	display: flex;

	margin: $ms *3em 0 $ms *1em;

	@media ( min-width: $screen-width-sm ) {
		margin-top: $ms *4.5em;
		padding: 0 1em;
		}

	@media #{$phone-landscape} {
		margin: $ms *3em 0 $ms *1em;
		}

	@media ( min-width: $screen-width-md ) {
		margin: $ms *5em 0 $ms *2em;
		}
	}

.page-title {
	font-size: $ms *1.65em;
	line-height: $ms *1.5rem;

	margin: 0;
	margin-right: .75rem;

	@media ( min-width: $screen-width-sm ) {
		font-size: $ms *2.75em;

		margin-right: $ms *1.5rem;
		}

	@media #{$phone-landscape} {
		font-size: $ms *2.5em;

		margin-right: $ms *1.25rem;
		}
	}

.page-description {
	line-height: $ms *.75em;

	position: relative;

	margin-top: -$ms *.1em;

	@media ( min-width: $screen-width-sm ) {
		font-size: 1.5em;

		margin: 0;
		}

	@media #{$phone-landscape} {
		font-size: 1.25em;

		margin-top: -$ms *.25em;
		}
	}
