.post__content {
	@media ( min-width: $screen-width-xs-landscape ) {
		padding: 0 1rem;
		}

	@media ( min-width: $screen-width-md ) {
		font-size: 1.125em;
		}

	 > img:first-child {
		margin-top: 0 !important;
		}

	h2 {
		font-size: 1.25em;
		line-height: $ms *.875rem;

		margin: $ms *1.25rem 0 $ms *.5rem;

		@media ( min-width: $screen-width-md ) {
			font-size: $ms *1rem;
			line-height: $ms *1rem;

			margin-top: $ms *1.5rem;
			}
		}

	h3 {
		font-size: .875rem;
		line-height: $ms *1rem;

		margin: $ms *1rem 0 $ms *.25rem;

		letter-spacing: .025em;
		text-transform: uppercase;

		@media ( min-width: $screen-width-md ) {
			font-size: 1.1rem;

			margin: $ms *1.5rem 0 $ms *.5rem;
			}
		}

	p {
		margin: 0 0 $ms *.75em; @include clearfix();
		}

	a {
		transition: .3s $easing-curve--main;
		transition-property: color, border-color;

		color: $color--primary;
		border-bottom: 1px solid rgba($color--primary, .2);

		&:hover, &:focus {
			color: darken($color--primary, 5%);
			border-color: darken($color--primary, 5%);
			}
		}

	img {
		display: block;

		margin: $ms *1rem auto $ms *1rem 0;
		}

	.image-with-caption {
		margin: $ms *1rem auto $ms *1rem 0;

		border: 1px solid darken( $color--light, 10% );

		 > img {
			margin: 0;
			}

		.caption {
			margin: 0;
			padding: $ms *.5rem $ms *1rem;

			text-align: center;
			}
		}

	@media ( min-width: $screen-width-sm ) {
		.align-left {
			float: left;

			margin-top: $ms *.5rem; 
			margin-right: 1em;
			}

		.align-right {
			float: right;

			margin-top: $ms *.5rem; 
			margin-left: 1em;
			}

		.align-center {
			margin-left: auto;
			}
		}

	h2 + img, h3 + img {
		margin-top: 0 !important;
		}

	strong {
		letter-spacing: .025em;
		}

	em {
		opacity: .6;
		border-bottom: 1px dashed rgba($color--text, .6);
		}

	ul {
		list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAATUlEQVR4AWMAg6r/LEBcDsRngfgLiIbyWZAVHADi/1jwfrA8VMd/PLgMpOgMAUVnQIo+E1D0mSiTiHYTC8gX+H2HCIYyqNWfoXQZTAEAkJqvOam/RGYAAAAASUVORK5CYII=');
		}

	ul, ol {
		padding: 0 0 0 .75em;

		@media (min-width: $screen-width-xs-landscape) {
			padding: 0;
			}
		}

	li {
		margin-bottom: $ms *.5em;
		}

	blockquote {
		padding: $ms *.5em 1em;

		border-left: 3px solid $color--primary;

		@media (min-width: $screen-width-xs-landscape) {
			margin-right: -1em;
			margin-left: -1.5em;
			padding-right: 1.5em;
			padding-left: 1.5em;

			border-left-width: 4px;
			}
		}
	}
