.post-wrap .post {
	margin-bottom: $ms *2rem;

	.author {
		display: flex;

		margin-bottom: $ms *.75rem;

		&__userpic {
			width: $ms *2.5rem;
			height: $ms *2.5rem;
			margin-right: 1rem;

			border-radius: 50%;
			}

		.post__credits {
			display: flex;
			flex-direction: column;
			}

		&__name {
			font-size: 1.125rem;
			font-weight: 700;
			line-height: $ms *1rem;

			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			}

		&__occupation, .post__publish-date {
			font-size: .875rem;
			line-height: $ms *.75rem;
			}

		.post__publish-date {
			opacity: .5;
			}
		}

	&__thumb {
		height: $ms *8rem;
		margin: 0;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (min-width: $max-phone-width) {
			height: $ms *12rem;
			}

		@media (min-width: $screen-width-md) {
			height: $ms *15rem;
			}
		}

	&__title {
		font-size: $ms *1em;
		line-height: $ms *1rem;

		margin: $ms *1.5rem 0 $ms *.5rem;

		@media (min-width: $screen-width-xs-landscape) {
			padding: 0 1rem;
			}

		@media ( min-width: $screen-width-md ) {
			font-size: $ms *1.25rem;
			line-height: $ms *1.25rem;

			margin: $ms *1.5rem 0 $ms *.5rem;
			}
		}
	}
