.post {
	position: relative;

	margin-bottom: $ms *1.5em;

	*, * > * {
		transition: all .3s $easing-curve--main;
		}

	@media #{$tablet-portrait} {
		&:first-of-type {
			width: 100%;
			padding: $ms *.5em 1em 0;

			.post__thumb {
				height: $ms *12em; 
				margin-bottom: $ms *1em;
				}

			.post__title {
				font-size: 1.75em;
				line-height: $ms *1.25rem;
				}

			.post__description {
				font-size: 1.125em;
				}
			}
		}

	@media #{$tablet} {
		width: 50%;
		margin-bottom: $ms *2em;
		padding: 0 1em;
		}

	@media #{$phone-landscape} {
		width: 100%;
		margin-bottom: $ms *1em;
		padding: 0 0 $ms *.5em;

		border-bottom: 1px solid lighten($color--dark, 77%);
		}

	@media ( min-width: $screen-width-md ) {
		width: 33.33%;
		padding: 0 1em;
		}

	&-list {
		@media #{$tablet} {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			}

		@media #{$phone-landscape} {
			display: block;
			}

		@media ( min-width: $screen-width-md ) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			}
		}

	&__link {
		display: block;

		user-select: none;

		&:hover, &:focus {
			color: lighten($color--dark, 10%);
			}

		@media #{$phone-landscape} {
			@include clearfix();
			}
		}

	&__thumb {
		position: relative;

		height: $ms *7em;
		margin: 0;

		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media #{$tablet-portrait} {
			height: $ms *6em;
			}

		@media #{$tablet-landscape} {
			height: $ms *7em;
			}

		@media #{$phone-landscape} {
			float: right;

			width: $ms *6em;
			height: $ms *5.5em;
			margin: 0 0 0 $ms *.75em;
			}
		}

	&__title {
		font-size: 1.25em;
		line-height: $ms *1rem;

		margin: $ms *.6rem 0 $ms *.4rem;

		@media #{$tablet-landscape} {
			line-height: $ms *1rem;
			}

		@media #{$phone-landscape} {
			margin-top: 0;

			@include nowrapHiddenTextMultiline(2, $ms *1rem);
			}
		}

	&__description {
		margin-bottom: $ms *.5em;

		@media #{$phone-landscape} {
			display: none;
			}
		}

	&__author {
		position: relative;

		height: $ms *2em;
		margin-bottom: $ms *.5em;
		padding-left: $ms *2.5em;

		@media #{$tablet} {
			height: $ms *2em;
			margin-bottom: $ms *.75em;
			}

		@media #{$phone-landscape} {
			position: absolute;
			bottom: $ms *.875em;
			left: 0;
			}

		&-userpic {
			position: absolute;
			top: 0;
			left: 0;

			display: block;

			width: $ms *2em;
			height: $ms *2em;

			border-radius: $ms *2em;
			}

		&-name {
			font-size: 1.125em;
			line-height: $ms *.875rem;

			margin-bottom: -$ms *.125rem;
			padding-top: $ms *.25rem;

			@media #{$tablet-portrait} {
				font-size: 1.125em;
				}
			}

		&-occupation {
			font-size: .75em;
			}
		}

	&__date {
		font-size: .875em;

		color: lighten($color--dark, 20%);
		}

	&__tags {
		padding-bottom: $ms *.5em;

		border-bottom: 1px solid $color--primary;

		@media #{$phone-landscape} {
			position: absolute;
			bottom: -$ms *.25em;

			border: none;
			}

		 > a {
			margin-right: .5em;

			color: $color--primary;

			@media #{$tablet-portrait} {
				font-size: 1.125em;
				}
			}
		}
	}
