<template>
  <main class="post-wrap">
    <div class="container">
      <nuxt-link to="/blog" class="button-back">
        <svg class="icon icon-arrow-back">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-back"></use>
        </svg>
        Вернуться ко всем записям
      </nuxt-link>
    </div>
    <article class="post" itemscope itemtype="http://schema.org/Article">
      <div class="container">
        <div class="author">
          <img :src="post.userpicSrc" class="author__userpic">
          <div class="post__credits">
            <div class="author__name" itemprop="author">{{post.author}}</div>
            <div class="author__occupation">{{post.authorOccupation}}</div>
            <div class="post__publish-date">{{localDate(post.timestamp)}}</div>
            <meta itemprop="datePublished" :content="microdataDate(post.timestamp)">
          </div>
        </div>
      </div>
      <figure class="post__thumb" :style="{ backgroundImage: 'url(' + post.thumbSrc + ')' }
      "></figure>
      <meta itemprop="thumbnailUrl" :content="post.thumbSrc">
      <div class="container">
        <h1 class="post__title" itemprop="headline">{{ post.title }}</h1>
        <div v-html="post.content" itemprop="articleBody" class="post__content"></div>
      </div>
    </article>
  </main>
</template>

<script>
  export default {
    validate ({ params }) {
      return /^\d+$/.test(params.id)
    },
    computed: {
      post () {
        let postID = this.$route.params.id
        return this.$store.getters.findPost(postID)
      }
    },
    methods: {
      localDate: (timestamp) => {
        let toLocalDate = new Date(timestamp * 1000)
        let options = {
          timeZone: 'Europe/Moscow',
          day: 'numeric',
          month: 'long',
          year: 'numeric'
        }
        let optYear = { timeZone: 'Europe/Moscow', year: 'numeric' }

        let now = new Date(Date.now())
        let todayYear = now.toLocaleDateString('ru-RU', optYear)
        let postYear = toLocalDate.toLocaleDateString('ru-RU', optYear)

        if (todayYear === postYear) { options.year = undefined }

        return toLocalDate.toLocaleDateString('ru-RU', options)
      },
      microdataDate: (timestamp) => {
        let mdDate = new Date(timestamp * 1000)

        let mdYear = mdDate.getFullYear()
        let mdMonth = mdDate.getMonth() + 1 + ''
        if (mdMonth.length === 1) { mdMonth = '0' + mdMonth }
        let mdDay = mdDate.getDate() + ''
        if (mdDay.length === 1) { mdDay = '0' + mdDay }

        return `${mdYear}-${mdMonth}-${mdDay}`
        // mdDate.toLocaleDateString(options).replace(/\//g, '-')
      }
    },
    head () {
      return {
        title: this.post.title,
        meta: [
          {
            hid: 'description',
            name: 'description',
            content: this.post.description
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
  @import "assets/styles/variables";
  @import "assets/styles/mixins";
  @import "assets/styles/blog/button-back";
  @import "assets/styles/blog/post";
  @import "assets/styles/blog/post-content";
</style>
