.scroll-down-indicator {
	height: $ms *2.5em;

	@media ( min-width: $screen-width-sm ) {
		display: none;
		}

	svg {
		display: block;

		width: $ms *2em;
		height: $ms *2em;
		margin: 0 auto;

		fill: $color--dark;
		}
	}

main {
	@media ( min-width: $screen-width-md ) {
		padding: $ms *1rem 0;

		// background: url('~assets/images/bg.svg') repeat-y 50% 0;
		// background-size: 100vw;

		// &::before {
		// 	position: absolute;
		// 	z-index: 0;
		// 	top: 0;
		// 	right: 0;
		// 	left: 0;

		// 	height: 100%;

		// 	content: '';

		// 	background: url('~assets/images/bg-top.svg') no-repeat 50% 0;
		// 	background-size: 100%;
		// 	}
		}
	}

h1 {
	font-size: $ms *2rem;
	font-weight: 700;
	line-height: $ms *2rem;

	margin: 0 $ms *4rem;

	text-align: center;
	letter-spacing: .025em;
	text-transform: uppercase;

	color: $color--primary;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	}
