.onboarding {
	display: block;

	width: 100vw;
	height: calc(100vh - #{$ms *4.5em});

	background-color: $color--light;

	@media ( min-width: $screen-width-sm ) {
		display: none;
		}

	.swiper-pagination {
		bottom: 0;
		}
	}

.onboard-slide {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: calc(100vh - #{$ms *4.5em});

	text-align: center;

	@media #{$phone-landscape} {
		display: block;
		}

	&__image, &__title, &__description, &__cta {
		transition: .3s $easing-curve--pump;
		transition-property: transform, opacity;

		opacity: 0;
		}

	&.swiper-slide-active &__image,
	&.swiper-slide-active &__title,
	&.swiper-slide-active &__description,
	&.swiper-slide-active &__cta {
		transform: scale(1);

		opacity: 1;
		}


	&.swiper-slide-prev &__image,
	&.swiper-slide-prev &__title,
	&.swiper-slide-prev &__description,
	&.swiper-slide-prev &__cta,
	&.swiper-slide-next &__image,
	&.swiper-slide-next &__title,
	&.swiper-slide-next &__description,
	&.swiper-slide-next &__cta {
		transform: scale(.5);
		}

	&__inner {
		position: absolute;
		top: 0;
		right: 1em;
		bottom: $ms *1em;
		left: 1em;

		@media #{$phone-landscape} {
			right: 2em;
			left: 2em;

			display: flex;
			align-items: center;
			}

		@media #{$phablet-portait} {
			right: 2em;
			left: 2em;

			display: flex;
			align-items: center;
			flex-flow: column;
			}
		}

	&__image {
		flex-shrink: 0;

		width: $ms *8.5em;
		margin: $ms *1.5em 0 $ms *1em;

		transition-delay: .35s;

		@media #{$phone-landscape} {
			position: absolute;
			left: 0; 

			margin: 0;
			}

		@media #{$phablet-portait} {
			width: 80%;
			margin-bottom: $ms *2rem;
			}
		}

	&__info {
		margin-bottom: $ms *1em;

		@media #{$phone-landscape} {
			position: absolute;
			left: $ms *10rem;

			max-width: $ms *15rem;
			margin: 0;

			text-align: left;
			}
		}

	&__title {
		line-height: 1.05;

		margin: 0 0 $ms *.5rem;

		transition-delay: .25s;

		@media #{$phablet-portait} {
			font-size: 7vw;
			}
		}

	&__description {
		transition-delay: .1s;

		@media #{$phablet-portait} {
			font-size: 5vw;
			}
		}

	&__cta {
		font-size: $ms *.75em;
		line-height: $ms *1.5rem;

		position: absolute;
		bottom: $ms *1rem;
		left: 50%;

		width: $ms *10em;
		margin-left: -$ms *5em;
		padding: 0 1em;

		user-select: none;
		transition: .225s $easing-curve--main;
		transition-property: background-color, color;
		letter-spacing: .05em;
		text-transform: uppercase;

		color: $color--light;
		border-radius: 3px;
		background-color: $color--primary;

		&:hover, &:focus {
			color: $color--light;
			background-color: darken( $color--primary, 5% );
			}

		&:active {
			background-color: $color--primary;
			}

		@media #{$phone-landscape} {
			position: static;

			display: block;

			width: $ms *6.5em;
			margin: $ms *.75rem 0 0;

			text-align: center;
			}

		@media #{$phablet-portait} {
			line-height: $ms *2rem;

			bottom: $ms *1.5rem;
			}
		}
	}
