.onboarding-features {
	display: none;

	@media ( min-width: $screen-width-sm ) {
		display: block;

		width: calc( #{$screen-width-sm} - 2rem );
		margin: 0 auto;
		}

	@media ( min-width: $screen-width-md ) {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;

		width: calc( #{$screen-width-md} - 2rem );
		}

	@media #{$laptop} {
		width: calc( #{$screen-width-lg} - 2rem );
		}

	.onboard-slide {
		position: relative;

		height: auto;

		border-radius: .25rem;

		@media ( min-width: $screen-width-md ) {
			width: 1 / 3 * 100%;
			}

		&__inner {
			position: static;

			display: flex;

			width: 100%;
			padding: $ms *2rem;

			@media ( min-width: $screen-width-md ) {
				align-items: center;
				flex-direction: column;

				padding: $ms *2rem $ms *1.5rem;
				}
			}

		&__image, &__title, &__description, &__cta {
			transform: scale(1);

			opacity: 1;
			}

		&__image {
			width: auto;
			height: $ms *8.25rem;
			margin: 0 $ms *1.5rem 0 0;

			@media ( min-width: $screen-width-md ) {
				height: $ms *6.5rem;
				margin: 0 0 $ms *.5rem;
				}

			@media #{$laptop} {
				height: $ms *8.25rem;
				}
			}

		&__info {
			margin: 0;

			text-align: left;

			@media ( min-width: $screen-width-md ) {
				text-align: center;
				}
			}

		&__title {
			font-size: $ms *1.25em;

			margin: $ms *.5rem 0 $ms *.25rem;

			@media ( min-width: $screen-width-md ) {
				font-size: $ms *.875em;
				}

			@media #{$laptop} {
				font-size: $ms *1.125em;
				}
			}

		&__description {
			font-size: $ms *.75em;

			margin-bottom: $ms *1rem;

			@media ( min-width: $screen-width-md ) {
				font-size: $ms *.7em;
				}

			@media #{$laptop} {
				font-size: $ms *.75em;
				}
			}

		&__cta {
			position: static;

			display: inline-block;

			width: auto;
			margin: 0 auto;

			@media ( min-width: $screen-width-md ) {
				font-size: .875rem;
				line-height: $ms *1.5rem;

				width: 140px;
				padding: 0;

				color: $color--text;
				background-color: transparent;

				@include borderHoverAnimation();

				&:hover, &:focus {
					color: $color--primary;
					}
				}
			}
		}
	}
